{% extends 'bill_tracker/base.html' %}

{% block body %}
<h1>Edit: {{ project.title }}</h1>
<form action="{% url 'project_manager:edit_project' project_id=project.id %}" method="POST" class="mb-3">
   <div class="formgroup row">
      <div class="col-10">
         {% csrf_token %}
         <input type="text" name="title" class="form-control" value="{{ project.title }}">
      </div>
      <div class="col-auto">
         <button class="btn btn-primary" type="submit">Update</button>
         <a href="{% url 'project_manager:index' %}" class="btn btn-secondary">Cancel</a>
      </div>
   </div>
</form>
{% include 'bill_tracker/errors.html' %}
{% endblock body %}